<footer class="bg-dark text-white text-center py-3 mt-auto">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <h5>Gramp Panchayat</h5>
          <p>Your trusted platform for local governance and community services.</p>
        </div>
        <div class="col-md-4">
          <h5>Quick Links</h5>
          <ul class="list-unstyled">
            <li><a class="text-white" [routerLink]='["dashboard"]'>Home</a></li>
            <li><a class="text-white" [routerLink]="['aboutus']">About Us</a></li>
            <li><a class="text-white" [routerLink]="['service']">Services</a></li>
            <li><a class="text-white" [routerLink]="['contact']">Contact</a></li>
          </ul>
        </div>
        <div class="col-md-4">
          <h5>Contact Us</h5>
          <p>
            Address: 123 Grampanchayat Lane, Village, State, PIN<br />
            Phone: +91 12345 67890<br />
            Email: info[at]grampanchayat.com
          </p>
          <div class="social-icons">
            <a href="#" class="text-white me-2"><i class="fab fa-facebook"></i></a>
            <a href="#" class="text-white me-2"><i class="fab fa-twitter"></i></a>
            <a href="#" class="text-white"><i class="fab fa-instagram"></i></a>
          </div>
        </div>
      </div>
      <div class="row mt-3">
        <div class="col-12">
          <p class="mb-0">&copy; 2024 Gramp Panchayat. All rights reserved.</p>
        </div>
      </div>
    </div>
  </footer>
  